<title>Branche DEV !</title>


{% extends 'rdvs/exemple/exemple.html' %}

{% load static %}

{% block title %} Tous les rendez vous   {% endblock %}


{% block header %} 
Nous avons plein de rendez vous pour vous
{% endblock %}
    
{% block contenuHeader %} 
    Trouver le meilleur pour vous
{% endblock %}

Vous êtes sur la branche DEV!! 
{% block body %} 
<section>
    <h2>Rendez vous a venir </h2>
    <ol>
        {% for rdv in keyRdvs %} 
            {% include 'rdvs/includes/rdv.html' with titre=rdv.titre lieu=rdv.lieu.name slug=rdv.slug email=rdv.email_organisateur id=rdv.id auteur=rdv.auteur %}
        {% endfor %}
    </ol>
</section>
{% endblock %}
