{% extends 'rdvs/exemple/exemple.html' %}

{% load static %}

{% block title %} Tous les rendez vous{% endblock %}

{% block fichier-css %} 
    <link rel='stylesheet' href="{% static 'rdvs/styles/tous_rdv.css' %}" >
{% endblock %}

{% block header %} 
Nous avons plein de rendez vous pour vous
{% endblock %}
    
{% block contenuHeader %} 
    Trouver le meilleur pour vous
{% endblock %}


{% block body %} 
<section>
    <h2>Rendez vous a venir </h2>
    <ol>
        {% for rdv in keyRdvs %} 
        <li class="meetup-item">
            <article>
                <div class="meetup-summary">
                    <div class="meetup-image">
                        <img src="" alt="">
                    </div> 
                    <div class="meetup-details">
                        <h3>{{ rdv.titre }}</h3>
                        <address>{{ rdv.lieu }}</address>
                    </div>
                </div>
                <div class="meetup-actions">
                    <a href="{% url 'rdv-details' rdv.slug %}" class="btn">Plus de détails</a>
                </div>
            </article>
        </li>
        {% endfor %}
    </ol>
</section>
{% endblock %}
