{% extends 'rdvs/exemple/exemple.html' %}
{% load static %}

{% block titre %} {{ keyRdv.titre }} {% endblock %}
    <link rel='stylesheet' href="{% static 'rdvs/styles/base.css' %}" >
{% block fichier-css %} 
<link rel='stylesheet' href="{% static 'rdvs/styles/rdv-detail.css' %}" >
{% endblock %}
{% block header %} 
    {{keyRdv.titre }}
{% endblock %} 

{% block body %} 
{% if keyRdvTrouve %}
    <article>
        <img id="main-image" src="{{keyRdv.image.url}}" alt="{{keyRdv.titre}}" >
        <section id="location">
            <h2>Lieu du rdv</h2>
            <address>Le rdv aura lieu à <span>{{keyRdv.lieu.nom}}</span>({{keyRdv.lieu.address}})</address>
        </section>
        <section>
            <h2>De quoi parle le rendez vous</h2>
            <p>{{ keyRdv.description }}</p>
            <footer>
                <p>Plus de détails ? <a href="mailto:{{keyRdv.email_organisateur }}">Contactez l'organisateur</a></p>
            </footer>
        </section>
        <section id="registration">
            <h2>Rejoignez nous</h2>
            <form action="{% url 'rdv-details' keyRdv.slug %}" method="POST">
                {% csrf_token %} 
                <ul>
                    {{ keyFormulaire.as_ul}}
                </ul>
                <div id="registration-actions">
                    <button>Adhésion</button>
                </div>
            </form>
        </section>
    </article>

{% else %}

<p>Aucun rendez vous pour cette URL, désolé</p>
{% endif %}

{% endblock %}

