{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'rdvs/styles/base.css' %}" >
    {% block fichier-css %} {% endblock %} 
    <title>{% block titre %} Mes rendez vous {% endblock %}</title>
</head>
<body>
    <header id="main-header">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <span>Connecté en tant que {{user.username}}</span>
                    <li>
                        <a href='/logout'>Se deconnecter</a>
                    </li>
                {% else %}
                    <li>
                        <a href='/login'>Se connecter</a>
                    </li>
                {% endif %}
                <li>
                    <a href='/touslesrdv/'id="main-logo" > Django page de rendezvous </a>
                </li>
                <li>
                    <a href="/">Page accueil</a>
                </li>
                <li>
                    <a href='/touslesrdv/ajout_rdv'>Ajouter un rendez vous</a>
                </li>
            </ul>
        </nav>
        <h1> {% block header %} {% endblock %}</h1>
        <p>{% block contenuHeader %} {% endblock %}</p>
    </header>
    <main>
        {% block body %} {% endblock %} 
    </main>
</body>
</html>